.bwa-header {
  margin-bottom: 60px;
}

.bwa-header .nav-item {
  margin-right: 22px;
}

.bwa-header .nav-link {
  color: var(--black);
  position: relative;
}

.bwa-header .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  height: 2px;
  width: calc(100% - 15px);
  background: var(--purple);
  border-radius: 2px;
  transform: translate(-50%, -2px);
}

.bwa-header .btn-login {
  background: var(--light-purple);
  color: var(--purple);
  font-weight: var(--bold);
  border: none;
  min-width: 104px;
  display: block;
  font-family: "Poppins";
}

.bwa-header .btn-login:focus {
  box-shadow: 0 0 0 0.25rem var(--purple);
}

.bwa-header .input-group.search {
  background: #fff;
  border-radius: 12px;
  padding: 16px 28px;
  max-height: 56px;
}

.bwa-header .input-group.search .input-group-prepend .input-group-text {
  height: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
}

.bwa-header .input-group.search input[type="search"] {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  width: 230px;
}

.bwa-header .input-group.search.active {
  box-shadow: 0 0 0 0.25rem var(--purple);
}
